<div class="header">
  <div class="container text-white p-5">
    <div class="row">
      <div class="col-sm-6">
        <h1>Yann HURRY</h1>
      </div>
      <div class="col-sm-6 text-sm-right">
        <h2>Développeur .Net FullStack</h2>
      </div>
    </div>
  </div>
</div>
<div class="">
  <div class="container mt-4">
    <div class="d-flex logo-link flex-wrap justify-content-center">
      <app-logo-url class="m-4" [content]="linkedin"></app-logo-url>
      <!-- <app-logo-url class="m-4" [content]="github"></app-logo-url> -->
    </div>
  </div>
</div>
<div class="">
  <div class="container mt-4">
    <div class="d-flex studies flex-wrap justify-content-center">
      <app-card-template [content]="master"> </app-card-template>
      <app-card-template [content]="licence"> </app-card-template>
      <app-card-template [content]="dut"> </app-card-template>

    </div>
  </div>
</div>

<router-outlet></router-outlet>
