@import "variables.scss";
.header {
  h1 {
    font-size: 48px;
    line-height: 48px;
  }
  h2 {
    font-size: 32px;
    line-height: 32px;
  }
  border-bottom: solid black 2px;
}

.colored-div {
  background-color: $back-color;
}

.categoryIcon {
  font-size: 45px;
}
